@font-face {
    font-family: 'Silkscreen';
    src: url('/assets/fonts/Silkscreen.woff2') format('woff2'),
        url('/assets/fonts/Silkscreen.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
